<h1>記事一覧</h1>

<input id='name_keyword' type='text'>
<input id='name_keyword_search'type='button' value='Name 絞り込み'>
<%= javascript_tag do -%>
  $("#name_keyword_search").click(function(e){
    $.get('<%= search_posts_path %>', { name: $('#name_keyword').val() },
      function(data) {
        $("#result").html(data)
    });
  });
<% end -%>

<div id='result'>
	<%= render partial: 'result_table' %>
</div>

<%= link_to '新しい記事', new_post_path %>

